{% extends 'lista_libros.html.twig' %}
{% block title %}Buscar Libros{% endblock %}
{% block listado %}{% endblock %}
{% block form %}

    <div class="container back-form">
        
            <div class="row text-center">
                <h1>Buscar</h1>
            </div>
            <div class="col-md-12 ">
                {% form_theme formulario 'bootstrap_4_layout.html.twig' %}
                {{ form_start(formulario) }}
                {{ form_widget(formulario) }}
                {{ form_end(formulario) }}
            </div>


    </div>
{% endblock %}
{% block mensajes %}
    {% block messages %}
        <div class="col-md-12 offset-md-2 mt-5 back">
            <h1>Introduzca un nuevo termino de búsquda</h1>
        </div>
    {% endblock %}
{% endblock %}