{% extends 'layout.html.twig' %}
{% block title %}Ficha del libro{% endblock %}
{% block content %}

    {% if libro %}
    <div>
        {% for lib in libro %}
            <h2>Título: {{ lib.titulo }}</h2>
            <h2>Autor: {{ lib.autor }}</h2>
            <h2>Páginas: {{ lib.paginas }}</h2>
        {% endfor %}
    <div>
    {% else %}
        <h1>No existe el libro</h1>
    {% endif %}
    
{% endblock %}