{% extends 'layout.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block content %}

    <div class="back-rgba"> 
        <h2 class="title-back">¡Bienvenido! Hoy es {{"now"|date("d/m/Y")}}</h2>
    </div>

{% endblock %}