{% extends 'layout.html.twig' %}
{% block title %}Libros{% endblock %}



{% block content %}

    <div class="lista-libros">
        {% if libros %}
        <div class="back-rgba">
            <h1 class="title-back">Listado de libros por páginas</h1>
        </div>
        <hr>
        <div class="container offset-md-2">
            {% for libro in libros %}
                <ul class="list-group col-md-5 mt-1">
                    <a class="text-big list-group-item list-group-item-action list-group-item-primary col-md-4"  
                       href="{{path('ficha_libro',{'isbn': libro.isbn})}}">{{libro.titulo}}</a>
                </ul>
            {% endfor %}
        </div>
            
        {% else %}
            <div class="container offset-md-2 back-title">
                <h1>No hay libros disponibles</h1>  
                <a class="btn btn-primary" href="{{path('listar_libros')}}">Volver a todos los libros</a>   
            </div>
        {% endif %}
    </div>
    
{% endblock %}