{% extends 'layout.html.twig' %}
{% block title %}Ficha del libro{% endblock %}
{% block content %}

    <div class="container back-form">
        <div class="row text-center">
            <h1>Nuevo Libro</h1>
        </div>
        <div class="col-md-12 ">
            {% form_theme formulario 'bootstrap_4_layout.html.twig' %}
            {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'} }) }}
            {{ form_widget(formulario) }}
            {{ form_end(formulario) }}
        </div>
    </div>

    
{% endblock %}